$container-width: 681;
$container-height: 625;

$ordinary-text-color: #5A5A5A;
$delete-icon-color: #FF6262;
$edit-icon-color: #FFB800;
$finished-icon-color: #05FF00;
$main-gradient: linear-gradient(90deg, #07FDFD, #4D69FE, #CC00FF);
$border-color: #D9D9D9;

$main-shadow: 0 10px 20px #F0F0F0;

$progress-text-size: 16px;
$progress-text-width: 600;
$task-text-size: 20px;
$task-text-weight: 400;
$title-size: 40px;
$title-weight: 900;

$task-padding: 16px;
$icons-gap: 10px;